/* *
{
	box-sizing: border-box;
} */

body
{
  background-color: lightslategrey
}

/* .row
{
	display: inline-flex;
	clear: both;
} */

.columnLateral
{
  float: left;
  width: 15%;
  min-width: 300px;
}

.columnCetral
{
  float: left;
  width: 70%;
  min-width: 300px;
}

h1, h2, h3, h4, h5, h6, p
{
  color: white;
  text-align: center;
}

label {
  color: white;
}

#joyDiv {
  color: white;
  text-align: center;
}